<a href="https://colab.research.google.com/github/beyond2013/bytecup/blob/master/SuggestingTitleOfArticle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading Training data from google drive. 

I have uploaded the training data to google drive and for reading it in colab the following code is required.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path_to_file = 'drive/My Drive/ByteCupData/bytecup.corpus.train.0.txt' #remove ‘content/’ from path then use

In [0]:
import pandas as pd
df = pd.read_json(path_to_file, lines=True)

In [4]:
df.head()

                                             content  ...                                              title
0  This was the year that felt like 50 years. We ...  ...               21 Stories Our Readers Loved in 2017
1  Gary Vaynerchuk once told a 20 year old Taylor...  ...                What To Do After Graduating College
2  On this episode of Recode Decode, hosted by Ka...  ...  Full transcript: Former Groupon CEO Andrew Mas...
3  Today we are going to talk about the Albigensi...  ...         The Albigensian Crusade And The Black Mass
4  IntroductionThe more you want to impact the re...  ...        The Surprising Secret To Changing The World

[5 rows x 3 columns]

In [5]:
#df.loc[0,"content"] # accessing first column, first row
#df.iloc[0,0]# accessing first column, second row 
subdf = df.head(3)

subdf

                                             content  ...                                              title
0  This was the year that felt like 50 years. We ...  ...               21 Stories Our Readers Loved in 2017
1  Gary Vaynerchuk once told a 20 year old Taylor...  ...                What To Do After Graduating College
2  On this episode of Recode Decode, hosted by Ka...  ...  Full transcript: Former Groupon CEO Andrew Mas...

[3 rows x 3 columns]

In [0]:
import nltk
nltk.download('punkt')

In [0]:


#tokenized_sent = sent_tokenize(subdf.loc[0, "content"])
#for i in range(0,10):
 # print(i+1, tokenized_sent[i]) # Some tokenization issues see sentence 9 below
  
  # Other pre-processing issues exist, like escape sequences \n and unicode sequences \u204

In [0]:
from nltk.tokenize import sent_tokenize
# using apply to apply sent_tokenize function on entire content column, the result is an array of sentences
#result = subdf["content"].apply(sent_tokenize) 
new_sent =[]
for row in subdf.itertuples():
    for sent in sent_tokenize(row[1]):
        new_sent.append((sent, row[2]))
df_new = pd.DataFrame(new_sent, columns = ['tokenized_sent', 'ID'])

In [16]:
df_new.tail(3)

                                         tokenized_sent  ID
1335      Thank you for having me, it was a lot of fun.   3
1336  KS: Thanks for coming on the show and you’re f...   3
1337                        CN: No, it was my pleasure.   3