<a href="https://colab.research.google.com/github/beyond2013/bytecup/blob/master/SuggestingTitleOfArticle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading Training data from google drive. 

I have uploaded the training data to google drive and for reading it in colab the following code is required.

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
path_to_file = 'drive/My Drive/ByteCupData/bytecup.corpus.train.0.txt' #remove ‘content/’ from path then use

In [0]:
import pandas as pd
df = pd.read_json(path_to_file, lines=True)

In [18]:
df.head()

                                             content  ...                                              title
0  This was the year that felt like 50 years. We ...  ...               21 Stories Our Readers Loved in 2017
1  Gary Vaynerchuk once told a 20 year old Taylor...  ...                What To Do After Graduating College
2  On this episode of Recode Decode, hosted by Ka...  ...  Full transcript: Former Groupon CEO Andrew Mas...
3  Today we are going to talk about the Albigensi...  ...         The Albigensian Crusade And The Black Mass
4  IntroductionThe more you want to impact the re...  ...        The Surprising Secret To Changing The World

[5 rows x 3 columns]

In [0]:
#df.loc[0,"content"] # accessing first column, first row
#df.iloc[0,0]# accessing first column, second row 
#subdf = df.head(3)

#subdf

In [19]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:


#tokenized_sent = sent_tokenize(subdf.loc[0, "content"])
#for i in range(0,10):
 # print(i+1, tokenized_sent[i]) # Some tokenization issues see sentence 9 below
  
  # Other pre-processing issues exist, like escape sequences \n and unicode sequences \u204

In [0]:
from nltk.tokenize import sent_tokenize
# using apply to apply sent_tokenize function on entire content column, the result is an array of sentences
#result = subdf["content"].apply(sent_tokenize) 
new_sent =[]
for row in df.itertuples():
    for sent in sent_tokenize(row[1]):
        new_sent.append((sent, row[2]))
df_new = pd.DataFrame(new_sent, columns = ['tokenized_sent', 'ID'])

In [21]:
df_new.tail(3)

                                            tokenized_sent      ID
2992308  It's taken him a long time to figure it out, b...  145821
2992309  Others, including Egypt, sent their foreign mi...  145821
2992310  This is one story that the US President can't ...  145821